<style>
  .angular-google-map-container { height: 400px; }
  .searchboxInput {padding:5px; top:10px !important; width: 250px;}
</style>
<section>
  <div class="page-header">
    <h1>Manage Areas</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.area._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="row">
  <div class="col-md-12"><div class="x_panel">
    <div class="x_title">
      <h3>{{vm.area._id ? 'Update Area' : 'Add New Area'}} <small>Use below form to change the fields</small></h3>
    </div>
    <div class="x_content">
    <form name="vm.form.areaForm" class="form-horizontal" ng-submit="vm.save(vm.form.areaForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.area.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.areaForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Area title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Draw Area</label>
          <input type="hidden" name="content" data-ng-model="vm.area.content" id="content" />
          <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
            <ui-gmap-drawing-manager options="drawingManagerOptions" control="drawingManagerControl" events="drawingEvents" static="true"></ui-gmap-drawing-manager>
            <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
            <ui-gmap-polygon static="false" path="polygonData.path" visible="polygonData.visible"
                             geodesic="polygonData.geodesic" editable="polygonData.editable" draggable="polygonData.draggable"></ui-gmap-polygon>
          </ui-gmap-google-map>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.area._id ? 'Update' : 'Create'}}</button> <a class="btn btn-default" role="button" ui-sref="admin.areas.list">Cancel</a>
        </div>
      </fieldset>
    </form>
    </div>
  </div>
  </div>
  </div>
</section>
