
<div class="nav_menu" ng-controller="HeaderController as vm">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img ng-src="/{{vm.authentication.user.profileImageURL}}"  alt="{{vm.authentication.user.displayName}}" > {{vm.authentication.user.displayName}}
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self"><i class="fa fa-sign-out pull-right"></i> Signout</a>
          </li>
        </ul>
      </li>

      <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-envelope-o"></i>
          <span class="badge bg-green">0</span>
        </a>
        <ul id="notifications" class="dropdown-menu list-unstyled msg_list" role="menu"></ul>
      </li>
      <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-gavel"></i>
          <span class="badge bg-green">0</span>
        </a>
        <ul id="workflowrequests" class="dropdown-menu list-unstyled msg_list" role="menu"></ul>
      </li>
    </ul>
  </nav>
</div>
