<section>
  <div class="page-header">
    <h1>Manage Service Sub Types</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.servicesubtype._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="row">
  <div class="col-md-10 col-md-offset-1"><div class="x_panel">
    <div class="x_title">
      <h3>{{vm.servicesubtype._id ? 'Update Service Sub Type' : 'Add New Service Sub Type'}} <small>Use below form to change the fields</small></h3>
    </div>
    <div class="x_content">
    <form name="vm.form.servicesubtypeForm" class="form-horizontal" ng-submit="vm.save(vm.form.servicesubtypeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="area">Choose Area</label>
          <select name="area" id="area" ng-model="vm.servicesubtype.area" ng-change="setAreaServiceTypes(true)" class="form-control" required>
            <option ng-repeat="area in vm.areas" value="{{area._id}}">{{area.title}}</option>
          </select>
          <div ng-messages="vm.form.servicesubtypeForm.area.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Area is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="servicetype">Choose Service Type</label>
          <select name="servicetype" id="servicetype" ng-model="vm.servicesubtype.servicetype" class="form-control" required>
            <option ng-repeat="areaServiceType in vm.areaServiceTypes" value="{{areaServiceType._id}}">{{areaServiceType.title}}</option>
          </select>
          <div ng-messages="vm.form.servicesubtypeForm.servicetype.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Service Type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.servicesubtype.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.servicesubtypeForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Service Sub Type title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Service Sub Type Description</label>
          <textarea class="form-control" name="content" data-ng-model="vm.servicesubtype.content" id="content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.servicesubtype._id ? 'Update' : 'Create'}}</button> <a class="btn btn-default" role="button" ui-sref="admin.servicesubtypes.list">Cancel</a>
        </div>
      </fieldset>
    </form>
    </div>
  </div>
  </div>
  </div>
</section>
