<section>
  <div class="page-header">
    <h1>Locations</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="location in vm.locations" ui-sref="locations.view({ locationId: location._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="location.created | date:'mediumDate'"></span>
        by
        <span ng-if="location.user" ng-bind="location.user.displayName"></span>
        <span ng-if="!location.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="location.title"></h4>
      <p class="list-group-item-text" ng-bind="location.content"></p>
    </a>
  </div>
</section>
